<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">DSA</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- <li ng-repeat="nav in navs" ng-click="clickNavBtn(nav.index)" ng-class="{active:navInitIndex == nav.index}"><a>{{nav.name}}</a></li> -->
                <li><a href="javascript:void(0)" ng-click='userHome()'>{{uname}}</a></li>
                <li><a href="javascript:void(0)" ng-click='logout()'>退出</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluit">
    <div class="row">
            <div class="nav-tabs" style="padding-bottom: 80px;">
                <div class="col-xs-8">
                    <div class="col-xs-11">
                        <button type="button" class="btn btn-primary pull-left" ng-click="">导出</button>
                    </div>
                </div>

                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="#/function">功能列表</a></li>
                        <li><a href="#/function/{{id}}">接口列表</a></li>
                        <li class="active">编辑接口</li>
                    </ol>
                </div>
            </div>

            <!-- 数据渲染区directive -->
            <div class="col-xs-1"></div>
            <div class="col-xs-10 interfaceBody">
            <h3>接口信息：{{item.description}}</h3>

            <h3>请求路径：{{item.name}}</h3>
            
            <h3>请求方法：{{item.description}}</h3>
            <h3>请求参数：{{item.description}}</h3>
            <h3>返回参数：{{item.description}}</h3>

            <h3>
                <button type="button" class="btn btn-sm btn-info"  data-animation="am-fade-and-scale" data-placement="center" ng-click="">保存</button>
                <button type="button" class="btn btn-sm btn-danger" ng-click="">取消</button>
            </h3>

                <!-- 
                <div class="panel-group" ng-model="panels.activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
                    <div class="panel panel-default" ng-repeat="item in item">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title" bs-collapse-toggle>
                                {{ item.name }}
                            </h4>
                        </div>
                        <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                            <div class="panel-body">
                                {{ item.description }}
                            </div>
                        </div>
                    </div>
                </div> 
                -->

            </div>
    </div>
</div>
<!-- confirm弹窗 -->
<div confirm confirm-content="确定要删除？" confirm-open="confirm" confirm-result="deleteItem"></div>