<div class="aside left am-slide-left" tabindex="-1" role="dialog" style="z-index: 1050; display: block;">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">×</button>
                <h4 class="aside-title" ng-bind-html="title">Title</h4></div>

            <div class="aside-body">

                <div class="input-group" style="padding:10px 0" ng-repeat="res in ress">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" style="width: 100px">{{res.name}}</button>
                    </span>
                    <input type="text" class="form-control" data-placement="right" data-type="info" data-container="body" data-trigger="focus" ng-model="res.value" placeholder="{{res.value}}">
                </div>

            </div>

            <div class="aside-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">关闭</button>
                <button type="button" class="btn btn-primary" ng-click="asideSave($hide())">保存</button>
            </div>
        </div>
    </div>
</div>