<div class="modal top am-fade-and-slide-top" tabindex="-1" role="dialog" style="z-index: 1050; display: block;">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header" ng-show="title">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title" ng-bind-html="title">Title</h4>
			</div>

			<div class="modal-body">

				<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button">访问路径</button>
					</span>
					<input type="text" class="form-control" data-placement="right" data-type="info" data-container="body" data-trigger="focus" ng-model="dialog.name">
				</div>

				<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button">描述信息</button>
					</span>
					<input type="text" class="form-control" data-placement="right" data-type="info" data-container="body" data-trigger="focus" ng-model="dialog.description">
				</div>

				<div class="input-group" ng-if="functionShow">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button">参与人员</button>
					</span>
					<input type="text" class="form-control" data-placement="right" data-type="info" data-container="body" data-trigger="focus" ng-model="dialog.participant_id">
				</div>

				<div class="input-group" ng-if="interfaceShow">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button">请求方法</button>
					</span>
					<input type="text" class="form-control" data-placement="right" data-type="info" data-container="body" data-trigger="focus" ng-model="dialog.method">
				</div>
				

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="$hide()">关闭</button> 
				<button type="button" class="btn btn-primary" ng-click="addItem(this)">新建</button>
			</div>

		</div>
	</div>
</div>